PORT=3001

REACT_APP_JADE_ORIGIN=
REACT_APP_JADE_API_BASE_PATH=/api/jade
REACT_APP_JADE_REQUEST_PATH=
REACT_APP_JADE_REQUEST_DATE_FIELD=
REACT_APP_JADE_DATASET_CLASS_FIELD=
REACT_APP_JADE_DATASET_METHOD_FIELD=
REACT_APP_JADE_FORM_DATE_FIELD=
REACT_APP_JADE_EMPLOYEE_ID_FIELD=
REACT_APP_JADE_EMPLOYEE_NAME_FIELD=
REACT_APP_JADE_ATTENDANCE_DATE_FIELD=
REACT_APP_JADE_ATTENDANCE_EMPLOYEE_ID_FIELD=
REACT_APP_JADE_WORK_TYPE_FIELD=
REACT_APP_JADE_CLOCK_IN_FIELD=
REACT_APP_JADE_CLOCK_OUT_FIELD=
REACT_APP_JADE_CORRECTED_CLOCK_IN_FIELD=
REACT_APP_JADE_CORRECTED_CLOCK_OUT_FIELD=
REACT_APP_JADE_WORK_DAY_FIELD=
REACT_APP_JADE_WORK_DETAIL_FIELD=

REACT_APP_INSA_ORIGIN=
REACT_APP_INSA_API_BASE_PATH=/api/insa
REACT_APP_INSA_HOME_PATH=
REACT_APP_INSA_WORKTIME_PATH=
REACT_APP_INSA_LEAVE_PATH=
REACT_APP_INSA_QUERY_YEAR=
REACT_APP_INSA_QUERY_MONTH=
REACT_APP_INSA_QUERY_DAY=
REACT_APP_INSA_WORKTIME_TYPE_FIELD=
REACT_APP_INSA_WORKTIME_TYPE_VALUE=
REACT_APP_INSA_WORKTIME_START_FIELD=
REACT_APP_INSA_WORKTIME_END_FIELD=
REACT_APP_INSA_TABLE_SELECTOR=
REACT_APP_INSA_DATE_CELL_SELECTOR_PREFIX=
REACT_APP_INSA_VACATION_ICON=
REACT_APP_INSA_TIME_ICON=
REACT_APP_INSA_DETAIL_BOTTOM_ICON=
REACT_APP_INSA_DETAIL_SCROLL_SELECTOR=
REACT_APP_INSA_DURATION_SELECTOR=
REACT_APP_INSA_DETAIL_COLUMN_COUNT=
REACT_APP_INSA_WORKTIME_COLUMN_COUNT=
REACT_APP_INSA_BALANCE_COLUMN_COUNT=
REACT_APP_INSA_LEAVE_RECORD_COLUMN_COUNT

JADE_TARGET_HOST=
JADE_TARGET_ORIGIN=
INSA_TARGET_HOST=
INSA_TARGET_ORIGIN=
INSA_ALLOWED_ROUTES_JSON=
